p
{
  color:yellow;
}
input
{
  color:yellow;
}
#users-pic
{
  width: 10%;
  height: 10%;
}
#upload-btn
{
  margin-top:8rem;
  margin-right:10rem;
}
#edit
{
  margin-bottom:3rem;
}
#complete{
  margin-bottom:3rem;
}
